video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}
body{
  padding-bottom:100%;
}
label{
  color: #ffffff;
}
#form{
  padding-top:80%;
  padding-left:34%;
  text-align: center;
  font-weight:bold;
  font-size:30px;
}

